// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// style the alert borders
div.callout {
  border-radius: 6px;
}

// style the alert text
div.callout.alert {
  color: #a94442
}

// style the foundation card class
div.card {
  background: #e6e6e6;
  border-radius: 6px;
}

// style the close X for deleting comments
a.close {
  background: #f7e4e1;
  color: #a94442;
  padding: 3px 5px 5px 5px;
  margin-left: 10px;
  border: 1px solid #a94442;
}

// style the devise alerts and notifications
.alert.alert-success,
.alert.alert-danger {
  margin: 0;
}

.alert.alert-success {
  color: #00d64d;
}

.alert.alert-danger {
  color: #ee6550;
}

div#error_explanation h2 {
  display: none;
}
